/* pages/FuncArea1Detail/FuncArea1Detail.wxss */

page{
//   left: 0px;
 //top: 57px;
// width: 430px;
// height: 628px;
// opacity: 1;
background: rgba(243, 242, 250, 1);
}

.topbar {
    background-color: #1c085d;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50rpx;
    color: #fff;
  }
.return image{
    margin-top: 50rpx;
    margin-left: 20rpx;
    width: 60rpx;
    height: 50rpx;
}
.return{
    width: 100%;
    background-color: white;
    position: fixed;

    
    
}

.judge{
  margin-top: 150px;
}



