page{
  background: rgba(24, 10, 89, 1);
  
}

.all{
  left: -163px;
  top: -454px;
  width: 430px;
  height: 765px;
  opacity: 1;
  background: rgba(24, 10, 89, 1);
}

.title{
  margin-top: 60rpx;
}

.logo{
    margin-left: 20rpx;
    margin-top: 20rpx;
  left: 13px;
  top: 23px;
  width: 40px;
  height: 40px;
  opacity: 1;
  background: url(https://img.js.design/assets/img/65aabcad96c3ad9a147e8d9c.png#dd16ea849916af3e416316e9a5e4304d);
}

.logotext{
/** 文本1 */

  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 26px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  vertical-align: top;
  left: 62px;
  top: 40px;
  width: 89px;
  height: 40px;
  opacity: 1;
  margin-top: 70rpx;
}

.search{
  left: 13px;
  top: 72px;
  width: 390px;
  height: 35px;
  opacity: 1;
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
  margin-top: 20rpx;
  margin-left: 25rpx;
}

.FuncArea{
  width: 97%;
  height: 700px;
  background: rgba(243, 242, 250, 1);
  margin-top: 40rpx;
  border-top-left-radius: 40px; 
  border-top-right-radius: 40px; 
}



swiper{
  border-radius: 20px;
  margin-top: 20px;
  padding-top: 20px;
}

.swipercontainer{
  width: 100%;
  height: 100%;
  background: rgba(243, 242, 250, 1);
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 60px;
  width: 650rpx;
  height: 100px;
  border-radius: 20px;
}

.item{
  height: 120%;
  line-height: 120px;
  text-align: center;
  line-height: 85px;
  font-size: 25px;
  font-weight:300;
}

.item image{
    width: 100%;
    height:100%;
    opacity:0.2;
}

.child{
    width: 100px;
  height: 34px;  
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-bottom:45px ;
  text-align: center;
  
}

swiper-item:nth-child(1) {
  
  
  background-color:#cccccc;
  border-radius: 20px;
}
swiper-item:nth-child(2) {
  background-color: #cccccc;
  border-radius: 20px;
}
swiper-item:nth-child(3) {
  background-color: #cccccc;
  border-radius: 20px;
}

.FuncArea1 {
  margin-top: 20rpx;
  margin-left: 20rpx;
  width:390px;
  height: 400px;
  display: inline;
}

.container1{
  // border-top:1px solid black;
  // border-left:1px solid black;
  // border-right:1px solid black;
  margin-left: 20rpx;
  display: flex;
  width: 390px;
  height: 150px;
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px; 
  background: rgba(255, 255, 255, 1);
box-shadow: 0px 0px 4px  rgba(0, 0, 0, 0.25);
}

.container2{
  // border-left:1px solid black;
  // border-right:1px solid black;
  // border-bottom:1px solid black;
  margin-left: 20rpx;
  display: flex;
  width: 390px;
  height: 110px;
  border-bottom-left-radius: 20px; 
  border-bottom-right-radius: 20px; 
  background: rgba(255, 255, 255, 1);
box-shadow: 1px 2px 0px  rgba(0, 0, 0, 0.25);
}

.file{
  margin-top:40rpx;
  margin-bottom: -20rpx;
  display: inline;
  width: 30%;
  text-align: center;
  height: 60%;
  
}

.file .imgg{
    width: 100rpx;
    height: 80rpx;
    padding-top: 15rpx;
    margin-left: 20%;
    background-color:rgba(103, 209, 249, 0.3);
    border-radius: 50%; 
}

.file .imggg{
    width: 100rpx;
    height: 80rpx;
    padding-top: 15rpx;
    margin-left: 20%;
    background-color:rgba(242, 242, 253, 1);
    border-radius: 50%; 
}

.file image{

  width: 60rpx;
  height: 60rpx;
  
  
  
}

.FuncArea2{
  margin-top: 20rpx;
  margin-left: 20rpx;
  width:390px;
  height: 400px;
  display: inline;
  border:1px solid black;
}

.shell {
  display: grid;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 20px;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
  grid-auto-columns: 50px;
  grid-auto-flow: dense;
}

.shell view{
  display: flex;
  left: 16px;
top: 476px;

border-radius: 10px;
background: rgba(255, 255, 255, 1);
box-shadow: 0px 2px 4px  rgba(0, 0, 0, 0.25);

  
}


.shell .big {
  grid-column: span 2;
  grid-row: span 2;
  background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSibUf4531qtOJxA_KC93ENKvOLVwkWBDmZiw&usqp=CAU);
}

.shell .big text{
  padding: 5px;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 28.96px;
  color: rgba(0, 0, 0, 1);
  text-align: left;
  vertical-align: top;
}

.shell text{
  padding: 5px;
  font-size: 20px;
  font-weight: 550;
  letter-spacing: 0px;
  line-height: 28.96px;
  color: rgba(0, 0, 0, 1);
  text-align: left;
  vertical-align: top;
}

